aiofiles
dnspython
motor
pymongo
Telethon
tgcrypto
cryptg
heroku3
aiohttp
Flask
gunicorn
tgcrypto
pyrogram
beautifulsoup4
hachoir
numpy
Pillow
requests
tgcrypto
olefile
pymongo
psutil
loggers
filetype
tldextract
aiofiles
pyromod
Flask
gunicorn==20.1.0
pyaes
urllib3
tgcrypto
six
pyasn1
propcache
packaging
numpy
multidict
MarkupSafe
itsdangerous
idna
future
frozenlist
click
charset-normalizer
certifi
blinker
attrs
aiohappyeyeballs
aiofiles
yarl
Werkzeug
rsa
requests
pymongo
Jinja2
aiosignal
motor
ffmpeg
ffmpeg-python
python-dateutil
dnspython
python-decouple
opencv-python-headless
https://github.com/samerastanboly/ethon/archive/refs/heads/main.zip
